tr:nth-child(2n){
 background-color: aqua;
}

tr:nth-child(2n+1){
    border-color: aqua;
}

#resultBox{
    width:20%;
}

.button{
    background-color: #CCC;
    width: 100px;
    border-radius: 3px;
    border-color: brown;
}

.button.active{
    background-color: chartreuse;
}